<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <h3> More Container Options</h3> 
  </head>
  <body>
  <p>
    <h2>Create New Container</h2>
	
	<button class ="btn btn-info " style="width: 140px;margin-right: 160px;"> <i class="glyphicon glyphicon-plus-sign"></i>Create</button>
		
	<h2>Download Image</h2>
	
	<button class ="btn btn-info " style="width: 140px;margin-right: 160px;"> <i class="glyphicon glyphicon-download"></i>Download</button>
	</body>
</html>